[submodule "2021/udacityMLOps/assignments/nd0821-c2-build-model-workflow-starter"]
	path = 2021/udacityMLOps/assignments/nd0821-c2-build-model-workflow-starter
	url = https://github.com/Joon-Park92/nd0821-c2-build-model-workflow-starter
